<div class='footer'>
  <div class='row'>
    <div class='col-md-12 text-center bottom'>
      <a href='http://github.com/pikesley/wen' alt='Github' title='Github'>
        <i class='fa fa-github'></i>
      </a>
    </div>
  </div>
</div>
