<div class='footer'>
  <div class='row'>
    <div class='col-md-12 text-center bottom'>
      <a href='<%= Wen::Config.instance.config['github_url'] %>' alt='Github' title='Github'>
        <i class='fa fa-github'></i>
      </a>
    </div>
  </div>
</div>
