<nav class='navbar navbar-default' id='main-nav'>
  <div class='container-fluid'>
    <ul class='nav nav-pills'>
      <% Wen::Config.instance.config['pages'].each do |page| %>
        <% extra_class = '' %>
        <% target = "/#{page['name']}" %>
        <% if request.path.sub('/', '') == page['name'] %>
          <% extra_class = ' active' %>
          <% target = '#' %>
        <% end %>
        <li role='presentation' class='nav-item<%= extra_class %>'>
          <a href="<%= target %>" title='<%= page["text"] %>'>
            <i class='fa fa-<%= page["fa"] %>'></i>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
