@import 'https://fonts.googleapis.com/css?family=VT323';
$buttons-font: 'VT323';

$hover-darken: 0%; // mobile browser keeps the hover even after click
$btn-size: 80px;
$text-color:  darken($brand-primary, 40%);
$transparency: 0.2;

.btn-default, .btn:focus {
  height: $btn-size;
  width: $btn-size;
  background-color: transparentize($brand-primary, $transparency);
  color: $text-color;
  border: 2px $text-color solid;
  border-radius: 15px;
  font-family: $buttons-font;
  font-size: 1.5em;
}

.btn-default:active:focus,
.btn-default:active:hover,
//.btn-default:hover,
.btn:hover,
.btn-default:focus,
.btn-default:active {
  background-color: transparentize(darken($brand-primary, 20%), $transparency);
}


/*.btn-default, .btn:focus {
  background-color: $brand-primary;
  border-color: darken($brand-primary, $border-darken);
  color: $brand-complement;
}

.btn:hover {
  background-color: darken($brand-primary, $hover-darken);
  border-color: darken($brand-primary, $hover-darken);
  color: $brand-complement;
}

.btn {
  margin-top: $padding-small-vertical;
  font-family: $font-secondary;
  font-size: 0.9em;
}

.btn-active, .btn-active:focus {
  @extend .btn;

  background-color: $brand-secondary-1;
  border-color: darken($brand-secondary-1, $border-darken);
  color: $brand-complement;
}

.btn-active:hover {
  @extend .btn;

  background-color: darken($brand-secondary-1, $hover-darken);
  border-color: darken($brand-secondary-1, $border-darken);
  color: $brand-complement;
}

.btn {
  border-radius: 15px;
}

.btn-circle {
  @extend .btn-default;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}*/
