$button-colours: (
  bg: $brand-primary,
  fg: $brand-complement
);

.btn-active {
  @extend .btn;

  background-color: $brand-secondary-1;
  border-color: $brand-secondary-1;
  color: map-get($button-colours, fg);
}

.btn-warning {
  background-color: $rgba-secondary-1-2;
}

.btn-default, .btn:focus {
  background-color: map-get($button-colours, bg);
  border-color: map-get($button-colours, bg);
  color: map-get($button-colours, fg);
}

.btn:hover {
  background-color: darken(map-get($button-colours, bg), 10%);
  border-color: darken(map-get($button-colours, bg), 10%);
  color: map-get($button-colours, fg);
}

.btn {
  margin-top: $padding-small-vertical;
  font-family: $font-secondary;
}
