$btn-size: 80px;
$text-colour: darken($brand-primary, $border-darken);

.btn-default, .btn-default:focus, .btn-default:hover {
  height: $btn-size;
  min-width: $btn-size;
  background-color: transparentize($brand-primary, $transparency);
  color: $text-colour;
  border: $border-thickness $text-colour solid;
  border-radius: $corner-radius;
  font-family: $buttons-font;
  font-size: 1.5em;

  margin: $padding-small-horizontal;
}

.btn-default:active:focus,
.btn-default:active:hover {
  background-color: transparentize(darken($brand-primary, 20%), $transparency);
  border: $border-thickness $text-colour solid;
}

.btn-active, .btn-active:focus, .btn-active:hover, .btn-active:active {
  @extend .btn-default;

  background-color: transparentize($brand-complement, $transparency);
}

.btn-active:active:hover
{
  background-color: transparentize($brand-complement, $transparency);
  border: 2px $text-colour solid;
}

.trick-btn {
  @extend .btn-default;

  white-space: normal;
  line-height: 1em;
  height: $btn-size + 10;
  width: $btn-size + 10;
  text-align: center;
  font-size: 1.2em;
}

.trick-btn:active:focus,
.trick-btn:active:hover,
.trick-btn:focus,
.trick-btn:hover,
.trick-btn:active {
  @extend .trick-btn;
}
