@import '//fonts.googleapis.com/css?family=Nixie+One';
@import '//fonts.googleapis.com/css?family=Cutive+Mono';
@import '//fonts.googleapis.com/css?family=VT323';
@import '//file.myfontastic.com/qbT833H9AjE28yfY8Bp9qi/icons.css';

$font-primary: 'spectrum';
$font-secondary: 'Cutive Mono';
$font-fixed: 'Cutive Mono';
$buttons-font: 'spectrum';
