@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

$font-primary: 'Josefin Slab';
$font-secondary: 'Josefin Slab';
$font-fixed: 'Source Code Pro'
