html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;
  background: $brand-primary;
  color: $brand-complement;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  border-top: $border-thickness darken($brand-primary, $border-darken) solid;

  a {
    color: $brand-complement;
  }

  a:hover {
    color: lighten($brand-secondary-1, 20%);
  }
}
