.mode-modal {
  top: 15%;
}

.modal-content {
  background-color: transparentize($brand-complement, 0.1);
}

.modal p {
  text-align: center;
}

.mode-button {
  width: 200px;
}

.mode-canceller {
  @extend .btn-default;

  background-color: $brand-secondary-2;
  border: 2px $text-color solid;
}

.current-mode {
  display: none;
  font-style: italic;
  color: $brand-primary;
}

.mode-modal {
  button,
  button:focus,
  button:hover,
  button:active {
    height: 50px;
  }

  p {
    font-size: 1em;
  }
}
