#main-nav {
  padding-top: $padding-small-vertical;
  height: $footer-height;
  background-color: transparent;
  border: none;
}

.nav-item {
  width: 24%;
}

.nav-pills {
  li.active {
    a, a:focus, a:hover {
      background-color: transparentize($brand-secondary-1, $transparency);
      border: $border-thickness darken($brand-secondary-1, $border-darken) solid;
      color: darken($brand-secondary-1, $border-darken);
    }
  }

  li.inactive {
    a, a:hover {
      color: lighten($grey, 20%);
      opacity: 0.7;
    }
  }

  li {
    a {
      background-color: transparentize($brand-primary, $transparency);
      border: $border-thickness darken($brand-primary, $border-darken) solid;
      border-radius: $corner-radius / 2;
      color: darken($brand-primary, $border-darken);
    }

    a:focus,
    a:hover {
      background-color: transparentize(darken($brand-primary, 20%), $transparency);
    }

/*    a:focus, a:hover {
      background-color: transparent;
      border-color: transparent;
      color: darken($brand-secondary-1, 10%);
    }*/
  }
}
