#main-nav {
  padding-top: $padding-small-vertical;
  height: $footer-height;
  background-color: transparent;
  border: none;
}

.nav-item {
  width: 24%;
}

.nav-pills {
  li.active {
    a, a:focus, a:hover {
      background-color: transparent;
      border-color: transparent;
      color: $brand-secondary-1;
    }
  }

  li.inactive {
    a, a:hover {
      color: lighten($grey, 20%);
      opacity: 0.7;
    }
  }

  li {
    a {
      background-color: transparent;
      border-color: transparent;
      color: $brand-secondary-2;
      transition: 0.5s;
    }

    a:focus, a:hover {
      background-color: transparent;
      border-color: transparent;
      color: darken($brand-secondary-1, 10%);
    }
  }
}
