$spectrum-colours: (
  bg: $brand-primary
);

.wen-picker {
  border-radius: 4px;
  background-color: map-get($spectrum-colours, bg);
  border-color: map-get($spectrum-colours, bg);

  button,
  button:active,
  button:hover,
  .sp-cancel {
    @extend .btn;
    @extend .btn-link;
    @extend .btn-xs;

    text-shadow: none;
    font-family: $font-primary;
    background-color: transparent;
    border: none;
  }

  .sp-thumb-el, .sp-thumb-inner {
    border-radius: 10px;
  }
}

/*.sp-replacer, .sp-container {
  border-radius: 4px;
  background-color: map-get($spectrum-colours, bg);
  border-color: map-get($spectrum-colours, bg);
}

button.sp-palette-toggle,
button.sp-choose, .sp-cancel,
button.sp-palette-toggle:hover,
button.sp-choose:hover,
button.sp-palette-toggle:active,
button.sp-choose:active,
button.sp-palette-toggle:focus,
button.sp-choose:focus {
  @extend .btn;
  @extend .btn-link;
  @extend .btn-xs;

  text-shadow: none;
  font-family: $font-primary;
  background-color: transparent;
  border: none;
}

//button.sp-palette-toggle:hover, button.sp-choose:hover {
//  @extend .btn;
//  @extend .btn-default:hover;
//  @extend .btn-xs;

//  text-shadow: none;
//}


*/
