.wen-picker {
  border-radius: $corner-radius;
  background-color: transparentize($brand-complement, 0.1);
  border-color: darken($brand-primary, $border-darken);

  button.sp-choose,
  button.sp-choose:focus,
  button.sp-choose:active:focus,
  button.sp-choose:active:hover,
  button.sp-choose:active,
  button.sp-choose:hover {
    background: transparent;

    @extend .btn-default;
    height: 40px;
    border-radius: 10px;
    font-family: $buttons-font;
    text-shadow: none;
    background-color: $brand-primary;
  }

  .sp-thumb-el, .sp-thumb-inner {
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
}

.sp-palette-container {
  max-width: 140px;
}

.sp-cancel {
  display: none;
}
