@import 'https://fonts.googleapis.com/css?family=VT323';
$font-tricks: 'VT323';

$trick-box-colour: rgba(250, 129, 0, 0.7);
$trick-box-alt: darken($trick-box-colour, 20%);
$trick-box-text: darken($trick-box-alt, 20%);

.grid-item {
  a {
    color: $trick-box-text;
  }

  a:hover {
    text-decoration: none;
  }

  :active {
    background-color: $trick-box-alt;
  }

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.grid-item-content {
  font-family: $font-tricks;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  padding: $padding-small-vertical;
  margin-bottom: $padding-large-vertical;
  margin-top: $padding-large-vertical;
  height: 80px;
  cursor: pointer;
  background-color: $trick-box-colour;
  border-radius: 15px;
  border: 2px $trick-box-text solid;
}

.trick-buttons {
  padding: $padding-large-vertical;
  border: 2px $trick-box-text solid;
  border-radius: 15px;
  background-color: transparentize(invert($trick-box-colour), 0.5);
}
