@import 'palette';

$brand-primary: $color-primary-0;
$brand-secondary: $color-secondary-2-0;

$brand-third: $color-secondary-1-0;
$brand-fourth: $color-complement-0;

$grey: #777;
$light-grey: lighten($grey, 25%);
$dark-grey: darken($grey, 25%);

$footer-height: 40px;
$colours-row-height: 40px;
