@import 'bootstrap';
@import 'fonts';
@import 'variables';
@import 'footer';
@import 'github-corner';

body {
  background-color: $brand-secondary;
  color: $brand-primary;
  font-family: $font-primary;
  text-align: center;
}

.btn-default {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $brand-secondary;
}

.btn:hover {
  background-color: darken($brand-primary, 10%);
  border-color: darken($brand-primary, 20%);
}

#main-nav {
  padding-top: $padding-small-vertical;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: $brand-secondary;
}

.nav-pills>li>a {
  background-color: darken($brand-primary, 20%);
  border-color: darken($brand-primary, 30%);
  color: $brand-secondary;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
  background-color: darken($brand-primary, 10%);
  border-color: darken($brand-primary, 20%);
  color: $brand-secondary;
}

/* http://cssdeck.com/labs/custom-radiobutton-and-checkbox-with-fontawesome-full-style-solution */
input[type="radio"] { display: none; }
input[type="radio"] + label .fa-check-square { display: none; }
input[type="radio"]:checked + label .fa-check-square { display: block; }
input[type="radio"]:checked + label .fa-square-o { display: none; }
