@import 'bootstrap';
@import 'fonts';
@import 'colours';
@import 'variables';
@import 'footer';
@import 'buttons';
@import 'nav';
@import 'spectrum';
@import 'modes';
@import 'build-box';
@import 'svg';

html {
  text-transform: lowercase !important;
}

body {
  background: url(/assets/images/retina_wood.png);
  color: $brand-primary;
  font-family: $font-primary;
  text-align: center;
}

a {
  color: $brand-secondary-1;
}

img {
  max-width: 80%;
}

h1 {
  font-size: 2.5em;
  margin-top: $padding-small-vertical;
}

h2 {
  font-size: 1.5em;
}

h1, h2 {
  color: transparentize($brand-primary, 0.1);
}

h1, h2, button {
  word-spacing: $word-spacing;
}

hr {
  border-color: $brand-complement;
}

p {
  text-align: justify;
  font-size: 0.8em;
  font-family: $font-secondary;
}
