@import 'bootstrap';
@import 'fonts';
@import 'colours';
@import 'variables';
@import 'footer';
@import 'buttons';
@import 'nav';
@import 'spectrum';
@import 'modes';
@import 'build-box';

html {
  text-transform: lowercase;
}

body {
  background: url(/assets/images/retina_wood.png);
  //color: $brand-primary;
  background-color: black;
  font-family: $font-primary;
  text-align: center;
}

a {
  color: $brand-secondary-1;
}

p {
  a {
    text-decoration: underline;
  }
}

img {
  max-width: 80%;
}

h1 {
  font-size: 2em;
  margin-top: $padding-small-vertical;
}

h2 {
  font-size: 1.5em;
}

.error-message {
  text-transform: none;
  font-size: 1em;
}

h1, h2 {
  color: transparentize($brand-primary, 0.1);
  //text-shadow: 1px 1px 1px lighten($brand-primary, 20%), -1px -1px 1px darken($brand-primary, 20%);
}

hr {
  border-color: $brand-complement;
}

p {
  text-align: justify;
  font-size: 0.8em;
  font-family: $font-secondary;
}
