<h1>About Wen</h1>

<hr />

<h2>Code</h2>

Wen is built and maintained by <a href='http://sam.pikesley.org'>Sam Pikesley</a>. The code is <a href='https://github.com/pikesley/wen'>on Github</a>, released under the <a href='https://pikesley.mit-license.org/'>MIT License</a>

<hr />

<h2>Documentation</h2>

The full documentation for the project can be found at <a href='http://sam.pikesley.org/projects/wen/'>http://sam.pikesley.org/projects/wen/</a>. There is a also <a href='https://www.youtube.com/watch?v=FGRnSwF10Dw&feature=youtu.be'>a movie</a>

<hr />

<h2>Issues</h2>

Issues / suggestions / pull-requests can be submitted <a href='https://github.com/pikesley/wen/issues'>here</a>

<hr />

<h2>Who is Wen?</h2>

<a href='http://wiki.lspace.org/mediawiki/Wen_the_Eternally_Surprised'>Wen the Eternally Surprised</a> is a <a href='http://wiki.lspace.org/mediawiki/History_Monks'>History Monk</a> who appears in the Discworld book <a href='http://wiki.lspace.org/mediawiki/Book:Thief_of_Time'>Thief of Time</a>

<hr />

<% g = Git.open('.').log.first %>
<table class='table table-condensed table-bordered' id='build-data'>
  <tr data-toggle="collapse" data-target=".collapsed-build-rows" class="clickable">
    <th colspan='2' class='show-build-data'>About this build</th>
  </tr>
  <tbody class="collapse collapsed-build-rows">
    <tr>
      <td class='key'>SHA</td>
      <td class='value'><%= g.sha %></td>
    </tr>
    <tr>
      <td class='key'>Date</td>
      <td class='value'><%= g.date.utc.strftime '%Y-%m-%d %H:%M:%S UTC' %></td>
    </tr>
    <tr>
      <td class='key'>Author</td>
      <td class='value'><%= g.author.name %></td>
    </tr>
    <!--<tr>
      <td class='key'>Commit message</td>
      <td class='value'><%= g.message %></td>
    </tr>-->
  </tbody>
</table>
