<%= erb :'includes/page_top' %>

<div class='button-panel'>
  <div id='clock'></div>

  <button class='btn btn-default' id='scramble' onclick='scramble()'>
    <%= erb :'includes/svgs/misc/scramble.svg' %>
  </button>
  <button class='btn btn-default' id='reset' onclick='reset()'>
    <%= erb :'includes/svgs/misc/reset.svg' %>
  </button>
</div>

<%= erb :'javascript/colours.js' %>
