<%= erb :'includes/nav' %>

<h1><%= @title %></h1>

<div class='button-panel'>
  <div id='clock'></div>

  <button class='btn btn-default' id='reset' onclick='reset()'>reset</button>
</div>

<%= erb :'javascript/colours.js' %>
