<h1><%= @title %></h1>

<div id='clock'></div>

<a href='#' class='btn btn-default' onclick='reset()'>reset</a>

<script>
colours = [
  <% Wen::Config.instance.config.colours.each do |name, rgb| %>
    'rgb(<%= rgb.join(', ') %>);',
  <% end %>
]

mode = '<%= Wen::Clock.mode %>'

fields = function() {
  currentTime = new Date()
  second = currentTime.getSeconds()
  minute = currentTime.getMinutes() + second / 60
  hour = currentTime.getHours() + minute / 60

  return data = [
    {
      'unit': 'minutes',
      'numeric': minute
    },
    {
      'unit': 'hours',
      'numeric': hour
    }
  ]
}

pi = Math.PI

width = 320
height = 320
cx = width / 2
cy = height / 2
margin = 8 / 100
handSpan = (pi) / 12
stroke = 1.5

bigRadius = 150
littleRadius = 90
thickness = 40
cornerRadius = 16

scaleMins = d3.scale.linear().domain([0, 59 + 59/60]).range([0, 2 * pi])
scaleHours = d3.scale.linear().domain([0, 11 + 59/60]).range([0, 2 * pi])

vis = d3.select('#clock')
        .append('svg:svg')
        .attr('width', width)
        .attr('height', height)

clockGroup = vis.append('svg:g').attr('transform', 'translate(' + cx + ', ' + cy + ')')

render = function(data) {
  clockGroup.selectAll('.hand').remove()
  clockGroup.selectAll('.face').remove()

  mh = {}; mh.radius = bigRadius
  mf = {}; mf.radius = bigRadius

  switch(mode) {
    case 'strict':
      $.extend(mh, {
        startAngle: function(number) {
          return scaleMins(number) - handSpan
        },
        endAngle: function(number) {
          return scaleMins(number) + handSpan
        }
      })

      $.extend(mf, {
        startAngle: function(number) {
          return (pi * 2) + scaleMins(number) - (handSpan + margin)
        },
        endAngle: function(number) {
          return scaleMins(number) + (handSpan + margin)
        }
      })
      break

    case 'vague':
      $.extend(mh, {
        startAngle: function(number) {
          return scaleMins(number) - handSpan * 2
        },
        endAngle: function(number) {
          return scaleMins(number) + handSpan * 2
        }
      })

      $.extend(mf, {
        startAngle: function(number) {
          return (pi * 2) + scaleMins(number) - (handSpan * 2 + margin)
        },
        endAngle: function(number) {
          return scaleMins(number) + (handSpan * 2 + margin)
        }
      })
      break

    case 'range':
      $.extend(mh, {
        startAngle: function(number) {
          return 0
        },
        endAngle: function(number) {
          return scaleMins(limit(number)) + handSpan
        }
      })

      $.extend(mf, {
        startAngle: function(number) {
          return scaleMins(limit(number)) + handSpan + margin
        },
        endAngle: function(number) {
          return (pi * 2) - margin
        }
      })
      break
  }

  hh = {
    radius: littleRadius,
    startAngle: function(number) {
      return scaleHours(number) - handSpan
    },
    endAngle: function(number) {
      return scaleHours(number) + handSpan
    }
  }

  hf = {
    radius: littleRadius,
    scale: scaleHours,
    startAngle: function(number) {
      return (pi * 2) + scaleHours(number) - (handSpan + margin)
    },
    endAngle: function(number) {
      return scaleHours(number) + (handSpan + margin)
    }
  }

  hand = {
    'name': 'hand',
    'wheels': {
      'minutes': makeWheel(mh),
      'hours': makeWheel(hh)
    }
  }
  makeGroup(hand)

  faces = {
    'name': 'face',
    'wheels': {
      'minutes': makeWheel(mf),
      'hours': makeWheel(hf)
    }
  }
  makeGroup(faces)

  refresh()
}

/*
setInterval(function() {
  data = fields()
  return render(data)
}, 1000)
*/

data = fields()
render(data)

$('.picker').on('change.spectrum', function (ev, tc) {
  d = ev.target.id.split('-')
  x = {}
  x[d[1]] = [tc['_r'], tc['_g'], tc['_b']]
  y = {}
  y[d[0]] = x

  $.ajax({
    url: '/colours/',
    data: JSON.stringify(y),
    type: 'POST',
    contentType: 'application/json',
    complete: refresh
  })
})

function makeWheel(params) {
  return d3.svg.arc()
           .outerRadius(params['radius'])
           .innerRadius(params['radius'] - thickness)
           .cornerRadius(cornerRadius)
           .startAngle(function(d) {
             return params.startAngle(d.numeric)
           })
           .endAngle(function(d) {
             return params.endAngle(d.numeric)
           })
}

function makeGroup(params) {
  clockGroup.selectAll('.' + params['name'])
            .data(data)
            .enter()
            .append('a').attr('xlink:href', '#')
            .append('svg:path')
            .attr('d', function(d) {
              if (d.unit === 'minutes') {
                return params['wheels']['minutes'](d)
              } else if (d.unit === 'hours') {
                return params['wheels']['hours'](d)
              }
            })
            .attr('class', 'picker')
            .attr('id', function(d) {
              return d.unit + '-' + params['name']
            })
            .attr('opacity', 0.7)
            .attr('stroke-width', stroke)
}

function limit(number) {
  if (number > 53) {
    return 53
  }
  return number
}

function refresh() {
  $('.picker').each(function() {
    var id = this.id
    var s = id.split('-')
    $.getJSON('/colours/' + s[0] + '/' + s[1], function (data) {
      $('#' + id).attr('fill', tinycolor('rgb(' + (data['colour'].join(', '))).toString())
      $('#' + id).attr('stroke', tinycolor('rgb(' + (data['colour'].join(', '))).darken(30).toString())
      $('#' + id).spectrum({
        color: 'rgb(' + (data['colour'].join(', ')) + ')',
        showPalette: true,
        palette: [
          colours
        ],
        showPaletteOnly: true,
        //togglePaletteOnly: true,
        togglePaletteMoreText: 'expert mode',
        togglePaletteLessText: 'easy mode',
        hideAfterPaletteSelect:true,
      //  showInitial: true,
        preferredFormat: 'rgb',
        containerClassName: 'wen-picker'
      })
    })
  })
}

function reset() {
  $.ajax({
    url: '/colours/reset',
    type: 'POST',
    contentType: 'application/json',
    complete: refresh
  })
}
</script>
