<%= erb :'includes/page_top' %>

<h1>Colours</h1>

<div class='button-panel'>
  <div id='clock'></div>

  <button class='btn btn-default' id='scramble' onclick='scramble()'>
    scramble
  </button>
  <button class='btn btn-default' id='reset' onclick='reset()'>
    reset
  </button>
</div>

<%= erb :'javascript/colours.js' %>
