<h2><%= @title %></h2>
<div id='clock'></div>

<a href='#' class='btn btn-default' onclick='reset()'>reset to defaults</a>

<script>
var colours = [
  <% Wen::Config.instance.config.colours.each do |name, rgb| %>
    'rgb(<%= rgb.join(', ') %>);',
  <% end %>
]

fields = function() {
  currentTime = new Date()
  second = currentTime.getSeconds()
  minute = currentTime.getMinutes() + second / 60
  hour = currentTime.getHours() + minute / 60

  return data = [
    {
      'unit': 'minutes',
      'numeric': minute
    },
    {
      'unit': 'hours',
      'numeric': hour
    }
  ]
}

pi = Math.PI

width = 320
height = 320
cx = width / 2          // Center x
cy = height / 2          // Center y
margin = 8 / 100
sizestep = width / 7
handspan = (pi) / 12
stroke = 2

bigRadius = 150
littleRadius = 90
thickness = 40
cornerRadius = 15

scaleMins = d3.scale.linear().domain([0, 59 + 59/60]).range([0, 2 * pi])
scaleHours = d3.scale.linear().domain([0, 11 + 59/60]).range([0, 2 * pi])

vis = d3.select('#clock')
        .append('svg:svg')
        .attr('width', width)
        .attr('height', height)

clockGroup = vis.append('svg:g')
                .attr('transform', 'translate(' + cx + ', ' + cy + ')')

render = function(data) {
  clockGroup.selectAll('hands').remove()
  clockGroup.selectAll('faces').remove()

  minuteHand = d3.svg.arc()
                  .outerRadius(bigRadius)
                  .innerRadius(bigRadius - thickness)
                  .cornerRadius(cornerRadius)
                  .startAngle(function(d) {
                    return scaleMins(d.numeric) - handspan
                  })
                  .endAngle(function(d) {
                    return scaleMins(d.numeric) + handspan
                  })

  minuteFace = d3.svg.arc()
                   .outerRadius(bigRadius)
                   .innerRadius(bigRadius - thickness)
                   .cornerRadius(cornerRadius)
                   .startAngle(function(d) {
                     return (pi * 2) + scaleMins(d.numeric) - (handspan + margin)
                   })
                   .endAngle(function(d) {
                     return scaleMins(d.numeric) + (handspan + margin)
                   })

  hourHand = d3.svg.arc()
               .outerRadius(littleRadius)
               .innerRadius(littleRadius - thickness)
               .cornerRadius(cornerRadius)
               .startAngle(function(d) {
                 return scaleHours(d.numeric % 12) - handspan
               })
               .endAngle(function(d) {
                 return scaleHours(d.numeric % 12) + handspan
               })


  hourFace = d3.svg.arc()
               .outerRadius(littleRadius)
               .innerRadius(littleRadius - thickness)
               .cornerRadius(cornerRadius)
               .startAngle(function(d) {
                 return (pi * 2) + scaleHours(d.numeric) - (handspan + margin)
               })
               .endAngle(function(d) {
                 return scaleHours(d.numeric) + (handspan + margin)
               })

 clockGroup.selectAll('hands')
           .data(data)
           .enter()
           .append('a').attr("xlink:href", '#')
           .append('svg:path')
           .attr('d', function(d) {
             if (d.unit === 'minutes') {
               return minuteHand(d)
             } else if (d.unit === 'hours') {
               return hourHand(d)
             }
           })
           .attr('class', 'picker')
           .attr('id', function(d) {
             return d.unit + '-hands'
           })
           .attr('opacity', 0.7)

  clockGroup.selectAll('faces')
            .data(data)
            .enter()
            .append('a').attr("xlink:href", '#')
            .append('svg:path')
            .attr('d', function(d) {
              if (d.unit === 'minutes') {
                return minuteFace(d)
              } else if (d.unit === 'hours') {
                return hourFace(d)
              }
            })
            .attr('class', 'picker')
            .attr('id', function(d) {
              return d.unit + '-face'
            })
            .attr('opacity', 0.7)
}

//setInterval(function() {
//  var data
  data = fields()
//  return
  render(data)
//}, 10)

refresh()

$(".picker").on('change.spectrum', function (ev, tc) {
  d = ev.target.id.split('-')
  x = {}
  x[d[1]] = [tc['_r'], tc['_g'], tc['_b']]
  y = {}
  y[d[0]] = x

  $.ajax({
    url: '/colours/',
    data: JSON.stringify(y),
    type: 'POST',
    contentType: 'application/json',
    complete: refresh
  })
})

function refresh() {
  $('.picker').each(function() {
    var id = this.id
    var s = id.split('-')
    $.getJSON('/colours/' + s[0] + '/' + s[1], function (data) {
  //    $('#' + id).attr('fill', 'rgb(' + (data['colour'].join(', ')) + ')')
//  debugger
      $('#' + id).attr('fill', tinycolor('rgb(' + (data['colour'].join(', '))).toString())
      $('#' + id).attr('stroke', tinycolor('rgb(' + (data['colour'].join(', '))).darken(50).toString())
      $('#' + id).spectrum({
        color: 'rgb(' + (data['colour'].join(', ')) + ')',
        showPalette: true,
        palette: [
          colours
        ],
        showPaletteOnly: true,
        //togglePaletteOnly: true,
        togglePaletteMoreText: 'expert mode',
        togglePaletteLessText: 'easy mode',
        hideAfterPaletteSelect:true,
      //  showInitial: true,
        preferredFormat: "rgb",
        containerClassName: 'wen-picker'
      })
    })
  })
}

function reset() {
  $.ajax({
    url: '/colours/reset',
    type: 'POST',
    contentType: 'application/json',
    complete: refresh
  })
}
</script>
