<!DOCTYPE html>
<html lang='en'>
  <%= erb :'includes/header' %>
  <body id='body'>
    <div class='container' id='main'>
      <%= yield %>
    </div>
    <%= erb :'includes/footer' %>
  </body>
</html>

<script>
$(document).on('ready', function() {
  $('#main').pjax('nav a')
})
</script>
