[Unit]
Description = Advertise our IP
After       = network-online.target

[Service]
Type        = oneshot
ExecStart   = /home/pi/wen/scripts/pivertise.sh

[Install]
WantedBy    = multi-user.target
