[Unit]
Description = Hit the clock URL
After       = syslog.target

[Service]
User         = pi
Type         = simple
ExecStart    = /home/pi/wen/scripts/hit-clock.sh
KillMode     = mixed
RestartSec   = 10
Restart      = always

[Install]
WantedBy     = multi-user.target
