<h2>colours</h2>
<div id='clock'></div>

<a href='#' class='btn btn-default' onclick='reset()'>reset to defaults</a>

<script>
var colours = [
  <% Wen::Config.instance.config.colours.each do |name, rgb| %>
    'rgb(<%= rgb.join(', ') %>);',
  <% end %>
]

makeClockPicker()

refresh()

$(".picker").on('change.spectrum', function (ev, tc) {
  d = ev.target.id.split('-')
  x = {}
  x[d[1]] = [tc['_r'], tc['_g'], tc['_b']]
  y = {}
  y[d[0]] = x

  $.ajax({
    url: '/colours/',
    data: JSON.stringify(y),
    type: 'PATCH',
    contentType: 'application/json',
    complete: refresh
  })
})

function reset() {
  $.ajax({
    url: '/colours/reset',
    type: 'PATCH',
    contentType: 'application/json',
    complete: refresh
  })
}
</script>
