<h2>colours</h2>
<hr />

<div id='clock'></div>

<script>

var svg = d3.select('clock').append('svg:svg');
var originX = 200;
var originY = 200;
var innerCircleRadius = 40;
var outerCircleRadius = 60;

var table = svg.append("svg:circle").attr({
    cx: originX,
    cy: originY,
    r: innerCircleRadius,
    fill: "white",
    stroke: "black"
});

</script>
